<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>467208396038-636imcst8pcjm2rsmdu0sbc1652og3ea.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.467208396038-636imcst8pcjm2rsmdu0sbc1652og3ea</string>
	<key>API_KEY</key>
	<string>AIzaSyCa-yg8qnHUzFhclEYujRi9LeEeCXaCP1k</string>
	<key>GCM_SENDER_ID</key>
	<string>467208396038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SimpliSplit.App</string>
	<key>PROJECT_ID</key>
	<string>simplisplit</string>
	<key>STORAGE_BUCKET</key>
	<string>simplisplit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:467208396038:ios:abb01fb354c8bc56521287</string>
</dict>
</plist>